<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>
      ToDo List - Add ToDo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Task:</ion-label>
    <ion-input [(ngModel)]="todo.task"></ion-input>
  </ion-item>

  <ion-button (click)="addTask()">
    Add Task
  </ion-button>

</ion-content>
