<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>
      ToDo List - Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of todos">
      <ion-item>
        <ion-label>
          Task: {{item.task}}
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="delete(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>